# Paths to the upstream checkouts used as docker build contexts.
INFRA_BE_REPO=../../gitlab/development/infrastructure/infrastructure-be
INFRA_FE_REPO=../../gitlab/development/infrastructure/infrastructure-fe
